ul {
    list-style-type: none;
    margin:0;
   padding: 25px;
    background-color: rgb(177, 49, 149);
}
 li {
    display: inline;
    
}
li a {
    text-align: center;
    text-decoration: none;
    padding: 25px;
    color: rgb(228, 226, 201);
    
}
li a:hover {
color: aliceblue;
}
    

#logo {
    width:60px;
    

}
h1 {
    text-align: center;
}

footer {
text-align: center;
justify-content: center;
width:100%;
margin-top:30%;
}
header {
    padding: 10px;
}
table tr th {
    padding: 15px;
}
section {
    padding: 10px;
}
button {
margin: 10px;}
 
table  td { padding: 10px;
    border: 1px solid rgb(119, 150, 63);

}